body {
  font-family: "Open Sans", sans-serif;
  background-color: #fffcf4;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*header section*/

.header_section {
  font-family: "Roboto", sans-serif;
  background-color: #1f233e;
  color: #fff;
  min-height: 90px;
  padding: 1% 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .navbar-toggler {
  border-color: #fff;
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar {
}

.nav-link:hover {
  color: #fefefe;
}

.logo_box {
  width: 150px;
  position: relative;
  right: 65px;
  
  
}

.logo_box img {
  width: 400%;
  height: 70px;
}

.call_to_btn {
  display: inline-block;
  color: #fefefe;
  padding: 10px 35px;
  background-color: #f6bb08;
  margin-top: 5%;
  margin-bottom: 20%;
  border-radius: 0;
}

/*end header section*/

/* slider section */









.slider_section .slider_box .slider-detail {
  color: #fff;
  width: 60%;
  margin-top: 14%;
  margin-left: 20%;
}

.slider_section .slider_box .slider-detail .slider_detail-heading h2 {
  font-weight: 70;
  text-transform: lowercase;
}

.slider_section .slider_box .slider-detail .slider_detail-heading h1 {
  font-weight: 70;
  text-transform: lowercase;
}

.slider_section .slider_box .slider-detail .slider_detail-text {
  width: 55%;
  color: #f8fafd;
}

.slider_section .slider_box .slider-detail .slider_detail-btn {
  display: flex;
}

.slider_section .slider_box .slider-detail .slider_detail-btn a {
  margin-top: 28px;
  padding: 16px 20px;
  background-color: #2561db;
  color: #fff;
}

.fButtons{
  text-align: center;
  margin-top: 200px;
}

.fbtn{
  border: 1px solid #1f233e;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btnWhite{
  color: #1f233e; /*words inside*/
}
.btnBlue{
  color: #fff;/*words inside*/
}
.btnWhite:hover{
  color: #fff;/*words inside when hovering*/
}
.btnBlue:hover{
  color: #1f233e;/*words inside when hovering*/
}
.fbtn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #f6bb08;/*color of the background*/
  z-index: -1;
  transition: 0.5s;
}
.btnBlue::before,.btnWhite::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btnBlue::before{
  height: 180%;
}
.btnWhite:hover::before{
  height: 180%;
}
.btnBlue:hover::before{
  height: 0%;
}

/* end slider section */

/* welcome section */
.welcome_section {
}

.welcome_section .col-md-6 {
  padding: 0 4%;
}

.welcome_detail {
  width: 75%;
}

.welcome_detail h2 {
  text-transform: lowercase;
  color: #0c0b09;
  font-weight: bold;
}

.welcome_detail h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
}

.welcome_detail h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #36bb25;
}

.welcome_detail h2,
.welcome_detail p,
.welcome_detail .welcome_detail-btn {
  margin-top: 25px;
}

.welcome_section .welcome_detail-btn a,
.welcome_section .welcome_detail-btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.welcome_section .welcome_detail-btn a img {
  width: 25px;
}
.img-fluid {
  max-width: 100%;
  height:auto;
}

/* end welcome section */

/* service section */

.service_section .container {
  padding: 0 50px;
}

.service_detail h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
}

.service_detail h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
}

.service_detail h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1.5px;
  width: 45px;
  background-color: #36bb25;
}

.service_section .service_img-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.service_section .service_img-container .service_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 325px;
  background-size: cover;
}

.service_img-container .service_img-box.i-box-1 {
  width: 60%;
  background-image: url(https://images.pexels.com/photos/923681/pexels-photo-923681.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.service_img-container .service_img-box.i-box-2 {
  width: 40%;
  background-image: url(../images/Traffic-police.jpg);
}

.service_img-container .service_img-box.i-box-3 {
  width: 40%;
  background-image: url(https://images.pexels.com/photos/70573/fireman-firefighter-rubble-9-11-70573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service_img-container .service_img-box.i-box-4 {
  width: 60%;
  background-image: url(https://images.pexels.com/photos/7715094/pexels-photo-7715094.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service_section .service_img-container a,
.service_section .service_img-container a:hover {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
}

.service_section .service_img-container .service_img-box:hover {
  cursor: pointer;
}

.service_section .service_img-container .service_img-box:hover a {
  background-color: #2561db;
}

.service_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.service_btn a,
.service_btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.service_btn a img {
  width: 25px;
}

/* end service section */

/*services cards*/
.services_wrap {
  display: block;
  text-align: center;
  width: 33.3333%;
  /*height:100px;*/
  float: left;
  margin-bottom: 150px;
}

.service_wrap_inner{
  padding-left: 15px;
  padding-right: 15px;
}
.services_icon {
  /*background: #1f233e;*/
  border-radius: 100%;
  height: 80px;
  width: 80px;
  display: inline-block;
}
/****************/
card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem;
color: white; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125); }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px); }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px); }

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px); }

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .card-deck .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-deck {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .card-deck .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px; } }

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .card-group > .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-group {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
      .card-group > .card {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0; }
        .card-group > .card + .card {
          margin-left: 0;
          border-left: 0; }
        .card-group > .card:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
          .card-group > .card:not(:last-child) .card-img-top,
          .card-group > .card:not(:last-child) .card-header {
            border-top-right-radius: 0; }
          .card-group > .card:not(:last-child) .card-img-bottom,
          .card-group > .card:not(:last-child) .card-footer {
            border-bottom-right-radius: 0; }
        .card-group > .card:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
          .card-group > .card:not(:first-child) .card-img-top,
          .card-group > .card:not(:first-child) .card-header {
            border-top-left-radius: 0; }
          .card-group > .card:not(:first-child) .card-img-bottom,
          .card-group > .card:not(:first-child) .card-footer {
            border-bottom-left-radius: 0; } }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }

.accordion > .card {
  overflow: hidden; }
  .accordion > .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0; }
  .accordion > .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0; }
  .accordion > .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .accordion > .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .accordion > .card .card-header {
    margin-bottom: -1px; }

    .hero-wrap {
      width: 100%;
      height: 100%;
      position: inherit;
      background-size: cover;
      background-repeat: no-repeat; }
      .hero-wrap .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .1;
        width: 50%;
        background: #8a2be2; }
      .hero-wrap .text {
        width: 100%; }

        .ftco-hireme {
          background: #8a2be2;
          z-index: 0;
          position: relative; }
          .ftco-hireme .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: #8a2be2;
            opacity: .7; }
          .ftco-hireme h2 {
            color: #fff;
            font-size: 40px;
            font-weight: 900; }
            .ftco-hireme h2 span {
              color: #a0f669; }
          .ftco-hireme p {
            color: rgba(255, 255, 255, 0.9); }

            .project {
              width: 100%;
              height: 350px;
              margin-bottom: 0;
              position: relative;
              z-index: 0; }
              .project.img-2 {
                height: 600px; }
                @media (max-width: 767.98px) {
                  .project.img-2 {
                    height: 285px; } }
                .project.img-2 .text {
                  max-width: 45%;
                  z-index: 1; }
                  .project.img-2 .text h3 {
                    font-size: 22px; }
                    .project.img-2 .text h3 a {
                      color: #fff; }
                  .project.img-2 .text span {
                    color: rgba(255, 255, 255, 0.8);
                    text-transform: uppercase;
                    letter-spacing: 2px; }
                  @media (max-width: 767.98px) {
                    .project.img-2 .text {
                      max-width: 100%;
                      opacity: 1; }
                      .project.img-2 .text span {
                        color: rgba(255, 255, 255, 0.8); } }
              .project .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                opacity: 0;
                background: #0c5460;
                z-index: -1;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease; }
                @media (max-width: 767.98px) {
                  .project .overlay {
                    opacity: .2; } }
              .project .text {
                max-width: 80%;
                z-index: 1;
                opacity: 0;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease; }
                .project .text h3 {
                  font-size: 20px; }
                  .project .text h3 a {
                    color: #fff; }
                .project .text span {
                  color: rgba(255, 255, 255, 0.8);
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  font-size: 12px;
                  font-weight: 600; }
                @media (max-width: 767.98px) {
                  .project .text {
                    opacity: 1; }
                    .project .text span {
                      color: rgba(255, 255, 255, 0.8); } }
              .project:hover .overlay, .project:focus .overlay {
                opacity: .9; }
              .project:hover .text, .project:focus .text {
                opacity: 1; }
 /**************/               

/* security section */
.security_section {
}

.security_section h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.security_section h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
  text-align: center;
}

.security_section h3::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #36bb25;
}

.security_section .security_container {
  width: 90%;
  margin: 0 auto;
}

.security_section .security_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 300px;
  height: 490px;
  margin: 0 auto;
  z-index: 999;
}

.security_section .security_img-box.i-box-1 {
  background-image: url(../images/security-1.jpg);
}

.security_section .security_img-box.i-box-2 {
  background-image: url(../images/security-2.jpg);
}

.security_section .security_img-box.i-box-3 {
  background-image: url(../images/security-3.jpg);
}

.security_section .security_img-box a {
  display: none;
  opacity: 0;
  text-transform: uppercase;
  padding: 8px 12px;
  border: 1.5px solid #f0f0f0;
  color: #fff;
}

.security_section .security_img-box:hover a {
  display: inline-block;
  opacity: 1;
}

.security_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.security_btn a,
.security_btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.security_btn a img {
  width: 25px;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-nav.disabled {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  background-color: #254a93;
  width: 70px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-next {
  right: -25px;
  background-image: url(../images/right-arrow.png);
}

.owl-carousel .owl-nav .owl-prev {
  left: -25px;
  background-image: url(../images/left-arrow.png);
}

/* end security section */

.story_section {
  padding: 0 4%;
}

.story_section .container-fluid {
  -webkit-box-shadow: 1px -1px 24px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 24px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 24px -13px rgba(0, 0, 0, 0.75);
}

.story_section .col-md-6 {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #fcfcfc;
}

.story_detail {
  margin-left: 40px;
}

.story_detail h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
}

.story_detail h3 {
  text-transform: uppercase;
  color: #254a93;

  margin: 0;
}

.story_detail {
  width: 85%;
}

.story_detail .story_detail-btn {
  margin-top: 25px;
}

.story_section .story_detail-btn a,
.story_section .story_detail-btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.story_section .story_detail-btn a img {
  width: 25px;
}

.contact_form-container {
  /* background-image: url(../images/popo.jpeg); */
  background: #1f233e;
  background-size:cover ;
  
}

.contact_form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact_form-container .contact_box {
  background-color: #1f233e;
  padding: 100px 35px 40px;
  width: 50%;
  height: 60%;
  margin: 0;
}

.contact_form-container form input,
.contact_form-container form input:focus,
.contact_form-container form input:active {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #00cc99;
  width: 85%;
  margin-top: 12px;
  outline: none;
}

.contact_form-container form button {
  border: none;
  background-color: #254a93;
  color: #fff;
  padding: 8px 20px;
  margin-top: 15px;
}

.contact_section .row .col-md-6 {
  padding: 0;
}

/* end contact section */

/* info section */
.info_section {
  background-color:#f0f0f0;
  font-family: "Roboto", sans-serif;
}

.info_section .info_detail {
  display: flex;
  align-items: center;
}

.info_section .info_detail p {
  color: #1f233e;
}

.list-group-item{
  color: white;
  background-color: #1f233e;
}
.list-group-item a{
  color: #f8fafd;

}
.list-group-item a:hover{
  border-bottom: 1.5px solid #f8fafd;
}


.address_link-container {
  display: block;
}

.address_link-container a {
  display: flex;
  color: #1f233e;
  margin: 15px 0;
  align-items: center;
}

.address_link-container a img {
  margin-right: 10px;
}

.info_section .news_container h3,
.info_section .address_container h3 {
  text-transform: uppercase;
  color:#1f233e;
  font-size: 22px;
}

.info_section .news_container form {
  margin: 28px 0;
}

.info_section .news_container form input {
  border: none;
  background-color: #fff;
  width: 70%;
  padding: 7px 10px;
}

.info_section .news_container form button {
  border: none;
  background-color: #254a93;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .news_container .social_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.info_section .news_container .social_container > div {
}

/* end info section */

/* footer section*/

.footer_section {
  background-color:  #f0f0f0;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color:#1f233e;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color:#1f233e;
}

/* end footer section*/
